[user]
	name = Rodrigo Poblete
	email = rorro.poblete@gmail.com
[core]
	editor = nvim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%an%Creset %C(white)%ci\n%C(yellow) %s%n%d'
